
extends layout

block content
  if all_items.length
    each item in all_items
      a(href=`/category/item/${item._id}`)
        div(class='item-card')
          img(src=item.image.imageUrl)
          h4 #{item.name}
          div Genre :
            p #{item.genre}
        div(class='item-card-category')
          p #{item.category}
  else 
    p empty